/HW_1/Test_equation_solver/obj
/HW_1/Test_equation_solver/Properties
/HW_1/Test_equation_solver/packages.config
/HW_1/Test_equation_solver/bin
/HW_1/ClassLibrary1/Properties
/HW_1/ClassLibrary1/obj
/HW_1/ClassLibrary1/bin
/HW_2/UnitTestCarRentLibrary/packages.config
/HW_2/UnitTestCarRentLibrary/bin
/HW_2/UnitTestCarRentLibrary/obj
/HW_2/UnitTestCarRentLibrary/Properties
/HW_2/TestResults
/HW_2/packages
/HW_2/CarRentLib/Properties
/HW_2/CarRentLib/bin
/HW_2/CarRentLib/obj
/HW_2/.vs/RentLibrary/v15/sqlite3/storage.ide
/HW_2/Car_Rent.txt
/HW_2/.vs/RentLibrary/v15/.suo
