/HW_1/Test_equation_solver/obj
/HW_1/Test_equation_solver/Properties
/HW_1/Test_equation_solver/packages.config
/HW_1/Test_equation_solver/bin
/HW_1/ClassLibrary1/Properties
/HW_1/ClassLibrary1/obj
/HW_1/ClassLibrary1/bin
